@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bree+Serif&display=swap');

.style-font {
  font-family: 'Borel', cursive;
  font-family: 'Bree Serif', serif;
}

a {
  color: #3c3c3c;
  text-decoration: none;
    font-family: 'Borel', cursive;
  font-family: 'Bree Serif', serif;
}